#main-header{
    color:whitesmoke;
    padding: 5px;
    background-color: black;
    text-align: center;
    float: top;
}

a{
    text-decoration: none;
    color: #000
}

a:hover{
    color:red;
}

a:visited{
    color: white;
}
/* gets rid of whitespace around edges of site... sort of, the bottom is a headache*/
body {
    margin: 0;
}

.button{
    background-color:#333;
    color:#fff;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.button:hover{
    cursor:pointer;
    background-color: red
}

input.bigCheck {
width: 18px;
height: 18px;
}

/* Below here are the page-specific code, above can be reused in different code as it looks ok */
.form{
    padding:5px;
}
.task{
    width:100%;
    height:20px; 
    text-align: left;
    color:limegreen;
}
.task input[type="checkbox"] {
    padding:3px;
    position:relative;
}

.container{
    background-color: rgb(16, 42, 189);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    border:10px #222 solid;
    padding-bottom: 20px;
}