a{
    color: #000
}
a:hover{
    color:red;
}

a:visited{
    color: black;
}
.button{
    background-color:#333;
    color:#fff;
    padding: 10px 15px;
    border: none;

}
.main-header{
    color:black;
    padding: 10px;
    background-color: white;
    text-align: center;
    float: top;
}
.new-form{
    padding:10px
}
.my-form label{
    display:block;
}
.my-form input[type="text"] {
    padding:5px;
    width:85px
}