#link{
    color: white;
    text-decoration:none;
}
#link:hover{
    color:red;
    cursor:pointer;
}
link:visited{
    color: black;
}
body {
    margin: 0;
  }
.button{
    background-color:#333;
    color:white;
    padding: 10px 15px;
    border: none;
    border-radius:6px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.button:hover{
    cursor:pointer;
    background-color: red
}

.clearfix{
    clear:both;
}

p{
    background-color: maroon;
}